body {
    background-color: tan;
    margin: 0px;
}

header {
    margin: 0;
    background-color: green;
    text-align: center;
    
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

header a {
    color: black;
}
